* {
  font-family: 'Manrope';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
}

p {
  opacity: 60%;
}

.nav-section {
  background: #141414;
  background-image: url(../img/Bitmap.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 100% 0px;
  padding-bottom: 158px;
  height: 730px;
}

.container {
  position: relative;
}

.burger {
  position: absolute;
  max-width: 16px;
  height: 15px;
  display: none;
}

.nav-item a:hover {
  color: #D87D4A;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.audiop {
  max-width: 143px;
  height: 25px;
}

.audiophile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
}

.korzinka {
  max-width: 24px;
  height: 20px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list li {
  line-height: 25px;
  font-weight: bold;
  font-size: 13px;
  margin: 0 17px;
}

.line {
  width: 100%;
  height: 1px;
  background: #F2F2F2;
  opacity: 30%;
}

.newProduct {
  padding-top: 125px;
}

.product-span {
  opacity: 0.5;
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;
  letter-spacing: 10px;
}

.product-header2 {
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
  margin-top: 25px;
  margin-bottom: 25px;
  max-width: 410px;
}

.product-p {
  max-width: 310px;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.75;
  margin-bottom: 45px;
}

.product-link {
  background: #D87D4A;
  width: 160px;
  height: 48px;
  font-size: 13px;
  line-height: 18px;
  font-weight: bold;
  padding: 15px 30px;
}

.product-link:hover {
  background: #FBAF85;
}

.bringing-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bringing-section .container .content-header {
  max-width: 445px;
  font-size: 40px;
  line-height: 44px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  margin-top: 150px;
  margin-bottom: 35px;
}

.bringing-section .container .content-header span {
  color: #D87D4A;
}

.bringing-section .container .content-p {
  max-width: 389px;
  line-height: 25px;
  font-size: 15px;
  font-weight: normal;
  opacity: 0.5;
  color: #000;
}

.bringing-section .container .humanbg {
  width: 540px;
  height: 588px;
  background-image: url(../img/BitmapHuman.png);
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid white;
  border-radius: 7px;
}

@media (max-width: 770px) {
  .bringing-section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .bringing-section .container .content-header {
    max-width: 573px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    margin-top: 70px;
    margin-bottom: 35px;
  }
  .bringing-section .container .content-header span {
    color: #D87D4A;
  }
  .bringing-section .container .content-p {
    margin: 0 auto;
    max-width: 480px;
    font-weight: normal;
    opacity: 0.5;
    color: #000;
  }
  .bringing-section .container .humanbg {
    width: 687px;
    height: 300px;
    background-image: none;
    background-image: url(../img/BitmapHumanu.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid white;
    border-radius: 7px;
  }
}

@media (max-width: 770px) {
  .nav-section {
    background: #141414;
    background-image: none;
    background-image: url(../img/Bitmap2.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
  }
  .product-header2 {
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 58px;
    letter-spacing: 2px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    max-width: 410px;
  }
  .product-p {
    margin: 0 auto;
    max-width: 310px;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    opacity: 0.75;
    margin-bottom: 45px;
  }
  .newProduct {
    padding-top: 145px;
  }
  .nav-list {
    display: none;
  }
  .audiop {
    margin-left: 100px;
  }
  .korzinka {
    margin-right: 40px;
  }
  .burger {
    display: inline-block;
    left: 40px;
    top: 35px;
  }
}

@font-face {
  font-family: 'Manrope';
  src: local("Manrope Semibold"), local("Manrope-Semibold"), url("Manropesemibold.woff2") format("woff2"), url("Manropesemibold.woff") format("woff"), url("Manropesemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: local("Manrope Medium"), local("Manrope-Medium"), url("Manropemedium.woff2") format("woff2"), url("Manropemedium.woff") format("woff"), url("Manropemedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: local("Manrope Thin"), local("Manrope-Thin"), url("Manropethin.woff2") format("woff2"), url("Manropethin.woff") format("woff"), url("Manropethin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: local("Manrope Light"), local("Manrope-Light"), url("Manropelight.woff2") format("woff2"), url("Manropelight.woff") format("woff"), url("Manropelight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: local("Manrope Regular"), local("Manrope-Regular"), url("Manroperegular.woff2") format("woff2"), url("Manroperegular.woff") format("woff"), url("Manroperegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: local("Manrope Bold"), local("Manrope-Bold"), url("Manropebold.woff2") format("woff2"), url("Manropebold.woff") format("woff"), url("Manropebold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/*# sourceMappingURL=main.css.map */