*{
    font-family: 'Manrope';
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: #fff;

}
.container{
    max-width: 1150px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
}
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
p{
    opacity: 60%;
}
.nav-section{
    background: #141414;
    background-image: url(../img/Bitmap.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position:100% 0px;
    padding-bottom:158px;
    height: 730px;
  
   
}

.container{
   position: relative;

   
}
.burger{
    position: absolute;
    max-width: 16px;
    height: 15px;
    display: none;
   
}

.nav-item a:hover{
    color: #D87D4A;
    transition: 0.5s;
}
.audiop{
    max-width: 143px;
    height: 25px;
}


.audiophile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
  
    
    

}
.korzinka{
    max-width:24px ;
    height: 20px;
}

.nav-list{
    display: flex;
  
    li{
        line-height: 25px;
        font-weight: bold;
        font-size: 13px;
        margin: 0 17px;

    }

}
.line{
    width: 100%;
    height: 1px;
    background:  #F2F2F2 ;
    opacity: 30%;
    
}
.newProduct{
    padding-top: 125px;
   
}
.product-span{
    opacity: 0.5;
    font-size: 14px;
    font-weight: normal;
    line-height: 19px;
    letter-spacing:10px ;
   
}
.product-header2{
font-style: normal;
font-weight: bold;
font-size: 56px;
line-height: 58px;
letter-spacing: 2px;
margin-top: 25px;
margin-bottom: 25px;
max-width: 410px;


}
.product-p{
    max-width: 310px;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    opacity: 0.75;
    margin-bottom: 45px;
}
.product-link{
   background: #D87D4A;
   width: 160px;
   height: 48px;
   font-size: 13px;
   line-height: 18px;
   font-weight: bold;
   padding: 15px 30px ;
}

.product-link:hover{
    background:  #FBAF85;
}

// predposledniy section

.bringing-section .container{
    display: flex;
    justify-content: space-between;

    .content-header{
        max-width: 445px;
        font-size: 40px;
        line-height: 44px;
        font-weight: bold;
        text-transform: uppercase;
        color: #000;
        margin-top: 150px;
        margin-bottom: 35px;


        span{
            color: #D87D4A;
        }
    }

    .content-p{
        max-width: 389px;
        line-height: 25px;
        font-size: 15px;
        font-weight: normal;
        opacity: 0.5;
        color: #000;
        margin-bottom: 340px;

    }

    .humanbg{
        width: 540px;
        height: 588px;

        background-image: url(../img/BitmapHuman.png);
        background-repeat: no-repeat;
        background-size: contain;
        border: 1px solid white;
        border-radius: 7px;

    }

}


//footer

.socials{
    padding-left: 200px;
}
.footer-navigator{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.footer-item a:hover{
    color: #D87D4A;
    transition: 0.5s;
}


.footer-section{
    background:  #101010;
    position: relative;
   
    padding-bottom: 48px;

    .container{
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    .footer-img{
        position: absolute;
        top: 40px;

    }

    .czu{
        position: absolute;
        width: 101px;
        height: 4px;
        top: 0px;
        left: 0px;


    }

}


.footer-list{
    display: flex;
    padding-top: 80px;
    margin-bottom: 105px;
    padding-left: auto;

    li{
        margin-left: 34px;
        
    }
}

.social{
    width: 24px;
    margin-left: 16px;

}
.footer-p{
    padding-top: 136px;
    max-width: 468px;
    line-height: 25px;
    font-weight: normal;
    font-size: 15px;
    color: white;
    opacity: 0.5;
    mix-blend-mode: normal;
}
.footer-copyright{
    width: 540px;
    color: white;
    opacity: 0.5;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    margin-top:56px ;
}







.svg-img:hover path{
    fill:  #D87D4A;
    transition: 0.5s;
}


//footer

@media(max-width:770px){

    .footer-section .container{
        flex-direction: column-reverse;
    }

    .socials .social{
       position: absolute;
    }
    .footer-navigator{
        display: flex;
        justify-content: flex-start;
    }
    .footer-p{
        padding-top: 30px;
        margin-right: 0;
        padding-right: 0;

        width: 90%;
        
    }
    .footer-item a {
        padding-left: 0;
        margin-left: 0;
        margin-bottom: 0;
        
    }
    .footer-list{
        margin-top: 60px;
        margin-bottom: 20px;
    }
    .footer-img{
        left: 40px;
    }
   
    .footer-content{
        margin-left: 40px;
    }
    .socials{
        width: 10px;
    }
    .insta{
        bottom: 0;
        right: 40px;
    }
    .twitt{
        bottom: 0;
        right: 80px;
    }
    .face{
        bottom: 0;
        right: 125px;
    }
    .czu{
        
        position: absolute;
        left: 40px;

    }


}



//code biringing

@media(max-width:770px){
    .bringing-section .container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;

    
        .content-header{
            max-width: 573px;
            font-weight: bold;
            text-transform: uppercase;
            color: #000;
            margin-top: 70px;
            margin-bottom: 35px;
    
    
            span{
                color: #D87D4A;
            }
        }
    
        .content-p{
            margin: 0 auto;
            max-width: 480px;
            font-weight: normal;
            opacity: 0.5;
            color: #000;
            margin-bottom: 96px;
    
        }
    
        .humanbg{
            width: 687px;
            height: 300px;
            background-image: none;
            background-image: url(../img/BitmapHumanu.png);
            background-repeat: no-repeat;
            background-size: cover;
            border: 1px solid white;
            border-radius: 7px;
    
        }
    
    }

}






//nav responsive codes

@media(max-width:770px){
    .nav-section{
        background: #141414;
        background-image: none;
        background-image: url(../img/Bitmap2.png);
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
      
       
    }
    .product-header2{
        font-style: normal;
        font-weight: bold;
        font-size: 56px;
        line-height: 58px;
        letter-spacing: 2px;
        margin: 0 auto;
        margin-top: 25px;
        margin-bottom: 25px;
        max-width: 410px;

        }
        .product-p{
            margin: 0 auto;
            max-width: 310px;
            font-weight: 500;
            font-size: 15px;
            line-height: 25px;
            opacity: 0.75;
            margin-bottom: 45px;
        }
        .newProduct{
            padding-top: 155px;
           
        }

        .nav-list{
            display: none;
        }
        .audiop{
        margin-left: 100px;
        }
        .korzinka{
            margin-right: 40px;
        }
        .burger{
            display: inline-block;
            left: 40px;
            top: 35px;
        }


       
        
}

@media(max-width:426px){

    .footer-section .container{
        text-align: center;
    }
    .footer-img{
        display: inline-block;
        top: 20px;
    }
    .footer-list{
        flex-direction: column;
        margin: 0 auto;
        display: inline-block;
        margin-top: 150px;
        padding-top: 20px;
     

        li{
          
            letter-spacing: 2px;
            line-height: 25px;
            text-align: center;
            font-weight: bold;
            margin-right: 30px;
            margin-bottom: 20px;
            
        }
    }
    .footer-p{
        max-width: 333px;
    }
    .socials{
        padding: 0;
        margin: 0;
        width: 1px;
        height: 1px;

    }
    .footer-copyright{
        width: 80%;
        text-align: center;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 40px;
        margin-left: 20px;
    }
    .insta{
        bottom: -20px;
        right: 150px;
    }
    .twitt{
        bottom: -20px;
        right: 190px;
    }
    .face{
        bottom: -20px;
        right: 232px;
    }

    .footer-img{
        left: 160px;
        
    }
   #human{
    width: 327px;
    height: 300px;
       background-image:none;
       background-image: url(../img/Bitmapmob.png);
       background-size:auto;
       
   }
   .audiop{
       margin-left: 150px;
   }
    
   .nav-section{
    background-image: none;
    background-image: url(../img/bgg.png);
    background-size: contain;
   }
   
   .product-header2{
       width: 80%;
       font-size: 36px;
       line-height: 40px;
   }
   .product-p{
       width: 80%;
       font-size: 15px;
   }
   .content-header{
       width: 100%;
       font-size: 28px;

   }
   .content-p{
       width: 100%;
       font-size: 15px;
   }

}
//===================================================================================================================================
//=================================================












@font-face {
    font-family: 'Manrope';
    src: local('Manrope Semibold'), local('Manrope-Semibold'), url('Manropesemibold.woff2') format('woff2'), url('Manropesemibold.woff') format('woff'), url('Manropesemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope';
    src: local('Manrope Medium'), local('Manrope-Medium'), url('Manropemedium.woff2') format('woff2'), url('Manropemedium.woff') format('woff'), url('Manropemedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope';
    src: local('Manrope Thin'), local('Manrope-Thin'), url('Manropethin.woff2') format('woff2'), url('Manropethin.woff') format('woff'), url('Manropethin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope';
    src: local('Manrope Light'), local('Manrope-Light'), url('Manropelight.woff2') format('woff2'), url('Manropelight.woff') format('woff'), url('Manropelight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope';
    src: local('Manrope Regular'), local('Manrope-Regular'), url('Manroperegular.woff2') format('woff2'), url('Manroperegular.woff') format('woff'), url('Manroperegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope';
    src: local('Manrope Bold'), local('Manrope-Bold'), url('Manropebold.woff2') format('woff2'), url('Manropebold.woff') format('woff'), url('Manropebold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}